.weather-modal {
    text-align: left;
    padding: 10px 20px;
}

.weather-modal i {
    color: #e39684;
    font-size: 60px;
    display: inline-block;
}

.weather-modal h1 {
    font-weight: lighter;
    font-size: 1.1em;
    color: rgb(99, 98, 98);
}

.weather-modal h2 {
    font-weight: 200;
    font-size: 1em;
    color: rgb(99, 98, 98);
}

.weather-modal h3 {
    font-weight: 400;
    font-size: 3.3em;
    color: #e39684;
}

.weather {
    display: inline-grid;
    font-size: 20px;
    vertical-align: middle;
}

.forecast {
    margin-left: -55px;
}

.forecast i {
    color: rgb(99, 98, 98);
    font-size: 25px;
}

.forecast p {
    color: rgb(99, 98, 98);
    margin-bottom: 3px;
}

.forecast ul {
    display: inline-flex;
}

.forecast li {
    padding: 10px;
    list-style-type: none;
    float: left;
    width: 4.5em;
    text-align: center;
}