.navBar {
  width: 100%;
  text-align: left;
  padding: 15px;
}

.navBar p {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(99, 98, 98);
}

.navBar img {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

/*                       */

/* toggle switch styles  */

/*                       */

.switch {
  float: right;
  position: relative;
  margin: 15px;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch p {
  z-index: 1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  box-shadow: 0 0 1px rgb(39, 39, 39);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  box-shadow: 0 0 1px rgb(39, 39, 39);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(39, 39, 39);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(36px);
}

/* Rounded sliders */

.slider.round {
  z-index: 1;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label.on {
  margin: 0px 20px 0px 7px;
  font-size: 14px;
  position: relative;
  top: -35%;
}

.label.off {
  font-size: 14px;
  position: relative;
  top: -35%;
}
