.search-modal {
    padding: 40px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    margin-top: 5px;
    font-size: calc(5px + 1vmin);
    color: black;
}

input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

input[type="submit"] {
    margin-left: -90px;
    height: 25px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

button {
    margin-left: -50px;
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: underline;
    color: grey;
}

button.searchBtn {
    border: none;
    margin-left: -36px;
    padding-bottom: 1px;
}

.searchBtn {
    background-color: transparent;
}

@media (min-width: 600px) {
    .search-modal {
        padding: 90px 130px;
    }
}