.App {
  background-image: linear-gradient(to bottom right, #f9746f, #fd906c);
  position: fixed;
  /* fill bg image always */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  /*  */
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}

.header-box {
  background-color: white;
  box-shadow: 0px 0px 3px 1px #33333383;
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 400px;
  /* make it scrollable */
  overflow: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

/* tablet layout */

@media (min-width: 600px) {
  .header-box {
    background-color: white;
    box-shadow: 0px 0px 3px 1px #33333383;
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 100%;
  }
}
